<h2>Mis Cursos</h2>

<div>
    <label for="new-course">Nombre: </label>
    <input id="new-course" #courseName/>
    <button type="button"
            class="add-button"
            (click)="add(courseName.value); courseName.value=''"
    >
        Agregar
    </button>
</div>

<ul class="courses">
    <li *ngFor="let course of courses">
        <a routerLink="/courses/{{course.id}}">
            <span class="badge">{{course.id}}</span>{{course.name}}
        </a>
        <button type="button" 
                class="develop"
                (click)="changeDevelop(course)"
        >v</button>
        <button type="button" 
                class="delete"
                (click)="delete(course)"
        >x</button>
    </li>
</ul>